.head{
    background-color:rgb(230,230,230);
    align-content:center;
    justify-content:center;
}
.body{
    background-color:rgba(230,230,230,.5);
    align-content:center;
    justify-content:center;
}
.table{
    background-color:rgba(230,230,230,.8);
    align-content:center;
    justify-content:center;
}
.caption{
    background-color:rgb(0,230,230);
    align-content:center;
    justify-content:center;
}
.td th{
    border:1px solid black;
    align-content:center;
    justify-content:center;
    border-collapse: collapse;
}